<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resumate</title>
    

    <!-- ==== STYLE.CSS ==== -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- ====  REMIXICON CDN ==== -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- ==== ANIMATE ON SCROLL CSS CDN  ==== -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!-- ==== HEADER ==== -->
    <header class="container header">
      <!-- ==== NAVBAR ==== -->
      <nav class="nav">
        <div class="logo">
          <h2>Resumate</h2>
        </div>

        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>

          <ul class="nav_menu_list">
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">Home</a>
            </li>
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">account</a>
            </li>
            <li class="nav_menu_item">
              <a href="/about" class="nav_menu_link">about</a>
            </li>
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">service</a>
            </li>
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">contact</a>
            </li>
            <li class="nav_menu_item">
              <a href="/register" class="nav_menu_link">Signup</a>
            </li>
            <li class="nav_menu_item">
              <a href="/signin" class="nav_menu_link">Signin</a>
            </li>
          </ul>
        </div>

       
      </nav>
    </header>

    <section class="wrapper">
      <div class="container">
        <div class="grid-cols-2">
          <div class="grid-item-1">
            <h1 class="main-heading">
              Welcome to <span>Resumate.</span>
              <br />
             Your Personalized  AI Interview assistant.
            </h1>
            <p class="info-text">
              Build a beautiful, modern resume with flexible features built
              from scratch.
            </p>
            

            <div class="btn_wrapper">
             <a href="#main"> <button class="btn view_more_btn">
                view all tools <i class="ri-arrow-right-line"></i>
              </button>
            </a>

              <button class="btn documentation_btn">documentation</button>
            </div>

           
            <br>
            <!-- <h1 style="margin-top:1040px  font-family:sans-serif;">
             Craft Modern Resume Patterns and analyse your scores to stand out in the market
            </h1> -->


            
            
          
          
             <br>
             <div class="btn_wrapper margin-top10px">
             

              
            </div>

            

            <h1 style=" font-weight: 300;
            font-size: 30px; margin-bottom: 10px;">
              Start Analysing your Resume here
            </h1>


            <div class="btn view_more_btn margin-top10px">
              <button class="btn view_more_btn" onclick="window.location.href='http://localhost:5000'">
                Click Here <i class="ri-arrow-right-line"></i>
            </button>
            


             

              </div>

              

            

<!-- <div style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center max-width:100%;">
            <!-- <div class="form" style="display: flex; justify-content: center; align-items: center; height: 100%; font-family: Arial, sans-serif;">
              <form action="/upload" method="post" enctype="multipart/form-data" style="background: #fff; padding: 20px 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; max-width: 400px; width: 100%;">
                <label for="fileInput1" style="font-size: 16px; font-weight: bold; color: #333; display: block; margin-bottom: 10px;">Enter Resume File:</label>
                <input type="file" id="fileInput1" name="resumeFile" accept=".pdf, .doc, .docx, .txt" style="display: block; width: 100%; padding: 8px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px;" required>
          
                <label for="fileInput2" style="font-size: 16px; font-weight: bold; color: #333; display: block; margin-bottom: 10px;">Enter Job Description:</label>
                <input type="file" id="fileInput2" name="jobFile" accept=".pdf, .doc, .docx, .txt" style="display: block; width: 100%; padding: 8px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px;" required>
          
                <button type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 4px; cursor: pointer; transition: background-color 0.3s ease;">Upload</button>
              </form>
            </div> -->
            
            
          <!-- </div> --> 
          </div>

          <!-- image hai isko mat choona -->
          <div class="grid-item-2">
            <div class="team_img_wrapper">
              <img src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/f8239007-7d36-45ce-a0a1-fdf91052b10e/299f5e14-73c4-4a9b-99c9-e44adbc218cf.png" alt="team-img" style="opacity: 0.5;" />

            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!-- framer body -->
    <div style="width: 100vw; height: 400px; background-color: blue; color: white; display: flex; justify-content: center; align-items: center; text-align: center; font-family: 'Arial', sans-serif; box-sizing: border-box;">
     <p class="main-heading"> Simplify your hiring process with ResuMate The ultimate tool for seamless Resume management and candidate evaluation.</p>
    </div>
    <!-- framer body -->

    <div style="width: 100vw; height: 200px;  display: flex; justify-content: center; align-items: center; text-align: center; font-family: 'Arial', sans-serif; box-sizing: border-box;">
      <p class="main-heading"> What our customers say about us </p>
      
     </div>

     <div style="width: 100vw; height: 300px; background-color: blue; color: white; display: flex; justify-content: center; align-items: center; text-align: center; font-family: 'Arial', sans-serif; box-sizing: border-box;">
      <div style="transform: scale(0.9); margin: 1rem; display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%;">
    
        <!-- Testimonial 1 -->
        <div style="flex: 1 1 22%; margin: 0.5rem; padding: 1rem 2rem; border-radius: 0.8rem; box-shadow: 5px 5px 20px #6d6b6b6b; color: white; background: blue; background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg); background-repeat: no-repeat; background-position-x: 25rem;">
          <div style="display: flex;">
            <div style="margin-right: 1rem;">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="" style="border-radius: 50%; width: 2rem; border: 2px solid #cec5c5;">
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
              <p style="color: hsl(0, 0%, 81%); font-size: 0.9rem; margin-bottom: 0.1rem; font-weight: 600;">Daniel Clifford</p>
              <p style="color: hsl(0, 0%, 81%); opacity: 50%; font-size: 0.8rem;">Verified Graduate</p>
            </div> 
          </div>
          <div>
            <h4 style="font-size: 1.4rem; color: #F3DEFF; font-weight: 600; line-height: 1.5; margin-bottom: 0.8rem;">I received a job offer mid-course, and the subjects I learned were current, if not more so, in the company I joined. I honestly feel I got every penny’s worth.</h4>
            
          </div>
        </div>
    
        <!-- Testimonial 2 -->
        <div style="flex: 1 1 22%; margin: 0.5rem; padding: 1rem 2rem; border-radius: 0.8rem; box-shadow: 5px 5px 20px #6d6b6b6b; color: white; background: blue; background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg); background-repeat: no-repeat; background-position-x: 25rem;">
          <div style="display: flex;">
            <div style="margin-right: 1rem;">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jessica.jpg" alt="" style="border-radius: 50%; width: 2rem; border: 2px solid #cec5c5;">
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
              <p style="color: hsl(0, 0%, 81%); font-size: 0.9rem; margin-bottom: 0.1rem; font-weight: 600;">Jessica Smith</p>
              <p style="color: hsl(0, 0%, 81%); opacity: 50%; font-size: 0.8rem;">Verified Graduate</p>
            </div>
          </div>
          <div>
            <h4 style="font-size: 1.4rem; color: #F3DEFF; font-weight: 600; line-height: 1.5; margin-bottom: 0.8rem;">The experience was amazing! I learned so much and made great connections this a completely genuine service Resumate helped me alot</h4>
            <p style="font-size: 0.95rem; color: #F3DEFF; font-weight: 500; opacity: 50%; line-height: 1.5;"></p>
          </div>
        </div>
    
        <!-- Testimonial 3 -->
        <div style="flex: 1 1 22%; margin: 0.5rem; padding: 1rem 2rem; border-radius: 0.8rem; box-shadow: 5px 5px 20px #6d6b6b6b; color: white; background: blue; background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg); background-repeat: no-repeat; background-position-x: 25rem;">
          <div style="display: flex;">
            <div style="margin-right: 1rem;">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-michael.jpg" alt="" style="border-radius: 50%; width: 2rem; border: 2px solid #cec5c5;">
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
              <p style="color: hsl(0, 0%, 81%); font-size: 0.9rem; margin-bottom: 0.1rem; font-weight: 600;">Michael Johnson</p>
              <p style="color: hsl(0, 0%, 81%); opacity: 50%; font-size: 0.8rem;">Verified Graduate</p>
            </div>
          </div>
          <div>
            <h4 style="font-size: 1.4rem; color: #F3DEFF; font-weight: 600; line-height: 1.5; margin-bottom: 0.8rem;">I was able to land a job right after completing the course. The skills I gained were invaluable the platform has helped me alot in this service</h4>
           
          </div>
        </div>
    
        <!-- Testimonial 4 -->
        <div style="flex: 1 1 22%; margin: 0.5rem; padding: 1rem 2rem; border-radius: 0.8rem; box-shadow: 5px 5px 20px #6d6b6b6b; color: white; background: blue; background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg); background-repeat: no-repeat; background-position-x: 25rem;">
          <div style="display: flex;">
            <div style="margin-right: 1rem;">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-sarah.jpg" alt="" style="border-radius: 50%; width: 2rem; border: 2px solid #cec5c5;">
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
              <p style="color: hsl(0, 0%, 81%); font-size: 0.9rem; margin-bottom: 0.1rem; font-weight: 600;">Sarah Williams</p>
              <p style="color: hsl(0, 0%, 81%); opacity: 50%; font-size: 0.8rem;">Verified Graduate</p>
            </div>
          </div>
          <div>
            <h4 style="font-size: 1.4rem; color: #F3DEFF; font-weight: 600; line-height: 1.5; margin-bottom: 0.8rem;">The support was phenomenal, and the curriculum was exactly what I needed to make the career shift I wanted I extremely love the role i am working in !!</h4>
           
          </div>
        </div>

        
      </div>
      
    </div>
    

    <div style="width: 100vw; height: 200px;  display: flex; justify-content: center; align-items: center; text-align: center; font-family: 'Arial', sans-serif; box-sizing: border-box;">
      <p class="main-heading "> Some of our other services </p>

      
      
     </div>

     <section id="main" class="other-services" style="padding: 2rem 1rem; text-align: center; background-color: blue; border-bottom: 1px solid #eee;  ">
      <div class="container" style="max-width: 1200px; margin: 0 auto; font-family: sans-serif;">
          <h2 style="font-size: 2rem; margin-bottom: 1.5rem; color: #fff
          ;">Other Services We Offer</h2>
          <div class="services-list" style="display: flex; justify-content: space-between; gap: 2rem; flex-wrap: wrap;">
              <!-- Service 1 -->
              <div class="service-item" style="background-color: #fff; padding: 1.5rem; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: 30%; min-width: 250px; margin-bottom: 1.5rem;">
                 <a href="" style="color: #000;"> <h3 style="margin-top: 0;">Cover Letter Optimization</h3> </a>
                  <p>Enhance your cover letter to align with job descriptions and increase your chances of getting noticed by employers.</p>
              </div>
              <!-- Service 2 -->
              <div class="service-item" style="background-color: #fff; padding: 1.5rem; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: 30%; min-width: 250px; margin-bottom: 1.5rem;">
                  <a href="" style="color: #000;"><h3 style="margin-top: 0;">LinkedIn Profile Optimization</h3> </a>
                  <p>Optimize your LinkedIn profile to make it stand out to recruiters and improve your professional online presence.</p>
              </div>
              <!-- Service 3 -->
              <div class="service-item" style="background-color: #fff; padding: 1.5rem; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: 30%; min-width: 250px; margin-bottom: 1.5rem;">
                <a href="" style="color: #000;">  <h3 style="margin-top: 0;">Job Matching</h3>
                  <p>Get job recommendations based on your resume, skills, and experience to apply for the best opportunities.</p> </a>
              </div>
              <!-- Service 4 -->
              <div class="service-item" style="background-color: #fff; padding: 1.5rem; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: 30%; min-width: 250px; margin-bottom: 1.5rem;">
                <a href="" style="color: #000;"> <h3 style="margin-top: 0;">Resume Design</h3>  </a> 
                  <p>Get a modern, professional design for your resume that is ATS-friendly and visually appealing to recruiters.</p>
              </div>
              <!-- Service 5 -->
              <div class="service-item" style="background-color: #fff; padding: 1.5rem; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: 30%; min-width: 250px; margin-bottom: 1.5rem;">
                 <a href="" style="color: #000;"> <h3 style="margin-top: 0;">Resume Review</h3> </a>
                  <p>Get your resume reviewed by experts for content and layout, ensuring it’s polished and ready to impress employers.</p>
              </div>
              <!-- Service 6 -->
              <div class="service-item" style="background-color: #fff; padding: 1.5rem; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); width: 30%; min-width: 250px; margin-bottom: 1.5rem;">
                 <a href="" style="color: #000;"> <h3 style="margin-top: 0;">Interview Preparation</h3> </a>
                  <p>Prepare for your job interview with mock sessions, tips, and answers tailored to your role and industry.</p>
              </div>
              </a>
          </div>
      </div>
  </section>

  
    
    

    
    
   
  
 

    
    

   

  
    
    <!-- Add Remixicon CSS for icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    



    <style>
/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
  --font-size-body-text: clamp(14px, 1.6vw, 16px);
  --h1-font-size: calc(var(--font-size-body-text) * 2.4);
  --h2-font-size: calc(var(--h1-font-size) - 15px);
  --h3-font-size: calc(var(var(--h2-font-size)) - 8px);
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* ==== CONTAINER ==== */
.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
/* ==== HEADER ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}

/* ==== NAV ==== */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ==== LOGO ==== */
.logo h2 {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
}
/* ====  NAV-MENU  ==== */
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}
/* ====  WRAPPER ==== */
.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.wrapper .title {
  font-size: var(--h2-font-size);
}

.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 300;
  font-size: var(--h1-font-size);
  line-height: 1.1;
}
.main-heading span {
  color: var(--primary-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}
footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 12px;
  margin-top: 8rem;
}

/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: var(--h2-font-size);
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: var(--h1-font-size);
    line-height: 1.1;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: var(--h1-font-size);
    text-align: center;
    line-height: 1.1;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
    background: transparent;
  }
  .featured_info span {
    font-size: 19px;
  }
}




/* mid body */

* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}


    </style>


<script>
const navId = document.getElementById("nav_menu"),
  ToggleBtnId = document.getElementById("toggle_btn"),
  CloseBtnId = document.getElementById("close_btn");

// ==== SHOW MENU ==== //
ToggleBtnId.addEventListener("click", () => {
  navId.classList.add("show");
});

// ==== HIDE MENU ==== //
CloseBtnId.addEventListener("click", () => {
  navId.classList.remove("show");
});

// ==== Animate on Scroll Initialize  ==== //
AOS.init();

// ==== GSAP Animations ==== //
// ==== LOGO  ==== //
gsap.from(".logo", {
  opacity: 0,
  y: -10,
  delay: 1,
  duration: 0.5,
});
// ==== NAV-MENU ==== //
gsap.from(".nav_menu_list .nav_menu_item", {
  opacity: 0,
  y: -10,
  delay: 1.4,
  duration: 0.5,
  stagger: 0.3,
});
// ==== TOGGLE BTN ==== //
gsap.from(".toggle_btn", {
  opacity: 0,
  y: -10,
  delay: 1.4,
  duration: 0.5,
});
// ==== MAIN HEADING  ==== //
gsap.from(".main-heading", {
  opacity: 0,
  y: 20,
  delay: 2.4,
  duration: 1,
});
// ==== INFO TEXT ==== //
gsap.from(".info-text", {
  opacity: 0,
  y: 20,
  delay: 2.8,
  duration: 1,
});
// ==== CTA BUTTONS ==== //
gsap.from(".btn_wrapper", {
  opacity: 0,
  y: 20,
  delay: 2.8,
  duration: 1,
});
// ==== TEAM IMAGE ==== //
gsap.from(".team_img_wrapper img", {
  opacity: 0,
  y: 20,
  delay: 3,
  duration: 1,
});



// resume input form


</script>


    <!-- ==== ANIMATE ON SCROLL JS CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ==== GSAP CDN ==== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <!-- ==== SCRIPT.JS ==== -->
    <script src="./script.js" defer></script>
  </body>
</html>
